*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

form, body {
    text-align: center;
    width: 70%;
    margin: auto;
    margin-top: 5%;
}

form {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
}